<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Previous Events</title>
  </head>

  <body>
    <h1>Previous Events</h1>
    <form action="https://onthisdate.onrender.com" method="get" id="form">
      <input type="submit" value="Add Another Event" />
    </form>
    <br />
    <div><%- string %></div>
  </body>

  <body
    style="
      border: 3px solid red;
      padding: 5px;
      width: 30rem;
      background-color: antiquewhite;
    "
  ></body>
</html>

<html style="background-color: black"></html>
